version: '3.8'

services:
  proxy:
    image: nginx:latest
    container_name: nginx_proxy
    restart: always
    ports:
      - "80:80" 
    volumes:
      - ./infra/nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - app_network
  #Frontend    
  frontend:

    image: ${FRONTEND_IMAGE_URI} 
    container_name: blog_frontend
    restart: always
    
    networks:
      - app_network

  #Backend   
  backend:

    image: ${BACKEND_IMAGE_URI}
    container_name: blog_backend
    restart: always
    ports:
      - "3003"
    volumes:

     - blog-data:/app/data
    environment:
      - PORT=3003
      - DB_FILE_PATH=/app/data/blog.sqlite
      - HASDATA_API_KEY=${HASDATA_API_KEY}
      - HASDATA_API_URL=${HASDATA_API_URL}
      - GEMINI_API_KEY=${GEMINI_API_KEY}

    networks:
      - app_network
      
volumes:

  blog-data:

networks:
  app_network:
    driver: bridge
